body {
  font-family: Arial;
}

.centered_header {
  text-align: center;
}

.three_cols {
  padding: 30px;
  display: flex;
}

.left_col {
  width: 33.33%;
  float: left;
}

.middle_col {
  width: 33.33%;
}

.right_col {
  width: 33.33%;
  float: right;
}

.setosa {
	fill: #1a64db;
	opacity: 50%;
}

.versicolor {
	fill: #50ad5b;
	opacity: 50%;
}

.virginica {
	fill: #cf3c3e;
	opacity: 50%;
}

.selected {
  stroke: black;
  stroke-width: 1px;
  opacity: 100% !important;
}
