body {
  font-family: Arial;
}

.centered_header {
  text-align: center;
}

.three_cols {
  padding: 30px;
  display: flex;
}

.left_col {
  width: 33.33%;
  float: left;
}

.middle_col {
  width: 33.33%;
}

.right_col {
  width: 33.33%;
  float: right;
}


.selectedxw {
  opacity: 1 !important;
  stroke: black;
  stroke-width: 1px;
}
